/*Set Full Height*/

html, body, .container {
	height: 100%;
}

.row {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

body {
	background-color: #E0DEDD;	
}

.container .row .col-md-4 {
	background-color: #1C1D24;
	color: white;
}

.container .row .col-md-8, ul.list-group .list-group-item {
	background-color: #F9F8F7;
}

.col-md-4 {
	border-radius: 25px 0 0 25px;
}

.col-md-8 {
	border-radius: 0 25px 25px 0;
}

/*Sidebar*/

.container .row .col-md-4 {
	padding-right: 0;
}

#sidebar {
	margin-top: 20%;
	margin-bottom: 20%;
	/*border-right: 1px solid black;*/
}

img {
	width: 40%;
	border-radius: 50%;
	margin-bottom: 10%;
}

h5 {
	margin-bottom: 10%;
}

/*Nav tabs*/

.nav .nav-item a {
	color: white;
}

.nav-pills .nav-link.active {
	background-color: black;
	border-radius: 25px;
}

#sidebar ul li {
	display: inline-block;
	margin: 0 auto;
}

/*Tab Content*/

#main {
	margin-top: 20%;
	margin-left: 10%;
	text-align: left;	
}

#main h1, #main h2 {
	font-weight: 800;	
}

#main h2 {
	margin-bottom: 5%;
}

#main p, #main li {
	font-size: 1.3em;
}

/*List group*/

.list-group .list-group-item {
	padding-top: 0;
	padding-left: 0;
}

#main li {
	border: none;
}

/*Contact*/
#contact .list-group .list-group-item {	
	padding-left: 0.2em;
}
.list-group .list-group-item .fa-stack {
	margin-left: -0.1em;	
}
.fa-stack {
	font-size: 0.6em;
}
.list-group .list-group-item .ig {
	margin-left: -3px;
}

/*Mobile Screen*/