/*Sidebar*/

.container .row .col-md-4 {
	padding-right: 0;
}

#sidebar {
	margin-top: 20%;	
	/*border-right: 1px solid black;*/
}

img {
	width: 40%;
	border-radius: 50%;
	margin-bottom: 10%;
}

h5 {
	margin-bottom: 10%;
}